html, body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  overflow: hidden;
}

header ul {
  float: right;
  margin: 20px 40px;
  padding: 5px;
}
header li {
  display: inline;
  padding: 7px;
}

li:hover {
  color: #5f6369;
  text-decoration: underline;
}

.loginbtn {
  background-color: #4584f2;
  border: 1px solid #4584f2;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
}

.loginbtn:hover, .loginbtn a:link {
  color: white;
  cursor: default;
  text-decoration: none;
}

.googleappbtn {
  height: 20px;
  padding-right: 5px;
  vertical-align: middle;
  width: 20px;
}

img {
  height: 90px;
  width: 270px;
}

.centerimg {
  padding-top: 190px;
  position: relative;
  top: 20%;
  left: 40%;
}

form {
  padding: 24px;
  text-align: center;
}

.searchbar {
  border: 1px solid #dfe1e4;
  border-radius: 30px;
  font-size: 16px;
  height: 42px;
  outline: none;
  overflow: hidden;
  padding-left: 20px;
  position: static;
  width: 40%;
}

.searchbutton {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  color: #5f6369;
  font-size: 14px;
  margin: 32px 5px 4px 5px;
  padding: 9px 15px;
}

.searchmic {
  background-image: url(googlemic.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  overflow: visible;
}

.centerp {
  text-align: center;
}

.blue {
  color: #190dab;
}

footer {
  background-color: #f2f2f2;
  border: .5px solid #e4e4e4;
  bottom: 0;
  color: #6f6f6f;
  position: absolute;
  width: 100%;
}

footer p {
  font-size: 15px;
  line-height: 41px;
  margin-left: 28px;
}

footer ul {
  border: .5px solid #e4e4e4;
}

footer li {
  display: inline;
  font-size: 13px;
  line-height: 41px;
}

.leftfooter {
  float: left;
  margin-left: 28px;
}

.rightfooter {
  float: right;
  margin-right: 28px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
